<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You will be notified if anyone comments on your post entitled "<%=@post.title %>"</h1>
    <p>
      <%= link_to "Click here to view your post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
